---
title: types of noun
block: noun
date: 2013-08-08 00:34 UTC
tags:
summary:
splashimage: splash.png
video: <iframe width="560" height="315" src="//www.youtube.com/embed/xZL1mly7rZ0" frameborder="0" allowfullscreen></iframe>
layout: handylesson-alt
---
%section.noun__living-nonliving

  #vimeo
  .g.g--guttersLarge
    #vimeotext.gc    
      .noun__animation--living--heart.animated__heart-pulse.group
      .noun__animation--living.block--noun.group
      %h2 This is a living noun. 
    #vimeotext.gc.animated__enter-right
      .noun__animation--nonliving--heart.animated__heart-pulse.group
      .noun__animation--nonliving.block--noun.group
      %h2 This is a non-living noun.  