---
title: noun
block: noun
date: 2013-08-08 00:34 UTC
tags:
summary: introduction to noun
splashimage: splash.png
video: http://placehold.it/800x450
---

%section.noun__living-nonliving
  .g.g--guttersLarge
    .gc
      .noun__animation--living.block--noun
      .noun__animation--living--heart
    .gc
