.row
  - blog("handy").articles.each do |article|
    .small-12.large-6.columns
      %a{:href => ".."+article.url}
        .cards#cards__bg
          -#
            {:style => "background : url('../projects/#{article.title}/#{article.data.splashimage}') no-repeat;"}
          .cards__title-wrapper
            %h3.cards__title
              = article.title
        -#
          %h4.is.centered.cards__summary
            = article.data.summary