.nav__secondary
  .nav__secondary--g
    .nav__secondary--list.block--art
    .nav__secondary--list.block--art
    .nav__secondary--list.block--art
    .nav__secondary--list.block--art
    .nav__secondary--list.block--art
    .nav__secondary--list.block--art
    .nav__secondary--list.block--art