.lab__nav
  %figure.nav--list.block--article{"data-subcategory-name" => "article"}
  %figure.nav--list.block--adjective{"data-subcategory-name" => "adjective"}
  %figure.nav--list.block--noun{"data-subcategory-name" => "noun"}
    = partial "layouts/nav-secondary/noun"
  %figure.nav--list.block--pronoun{"data-subcategory-name" => "pronoun"}
  %figure.nav--list.block--preposition{"data-subcategory-name" => "preposition"}
  %figure.nav--list.block--verb{"data-subcategory-name" => "verb"}
  %figure.nav--list.block--adverb{"data-subcategory-name" => "adverb"}

