.row.intro-social
        .small-4.columns
          %h1.is.centered 
            %a.icon-twitter{:href => "http://twitter.com/@_sethjgore"}
        .small-4.columns
          %h1.is.centered 
            %a.icon-wordpress{:href => "http://medium.com/@_sethjgore"} 
        .small-4.columns 
          %h1.is.centered 
            %a.icon-dribbble{:href => "http://dribbble.com/sethjgore"}