.is__text--centered{
  text-align: center;
}

.is__height--full{
  min-height: 100vh;
  
  //VERY IMPORTANT - allows proper centering
  & > .g__full{
    min-height: 100vh;
  } 
}

.is-text__yellow{
  font-weight: normal;
  color: #FEAD09;
  }

.is-element--centering{
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-element--centered{
    max-width: 90vw;
    margin: 20vh 0
}


@each $color in $colors {
  $colorname: nth($color, 1);
  $rgbvalue: nth($color, 2);
  
  .is__text--#{$colorname}{
    color: unquote($rgbvalue);
  }

  .is__background--#{$colorname}{
    background: unquote($rgbvalue);
  }
}
  


