// .NAV-SHADOW
// .nav module is absolutely positioned.
// this causes the body to move up because
// absolutely positioned height el are not accounted for
// .nav-shadow is here to compensate.

.lab__nav
  @extend .is__background--darker
  flex: 1
  display: flex
  align-items: center
  justify-content: center
  padding: 0 3rem
  min-width: 0rem

.nav
  @extend .is__background--darker
  width: 100%
  height: 100%
  position: fixed
  z-index: 2

  display: flex
  flex: 1
  flex-direction: row
  align-items: stretch
  justify-content: flex-start
  min-width: 0rem

  &.hidden

.nav__main--box
  &:hover
    @extend .is__border--color--noun
    border-right: .2rem solid


.nav__list--box
  padding-left: 3rem
  border-left: 1rem solid rgb(57, 57, 57)
  @extend gc

.nav--list
  @extend .gc
  @extend .nav-transition-enabled

.nav__sublist
  position: absolute
  -webkit-transform: translateX(6rem)
  height: 100vh
  top: 0
  opacity: 0
  overflow: scroll

  &:hover
    opacity: 1

  li
    padding: 2rem
    background: white
    display: flex
    justify-content: space-around
    align-items: center
    margin: .8rem
    border-radius: .3rem
    font-size: 1.6rem

  a
    @extend .is__text--color--noun
    font-family: $typeface-heading-regular

$transition-length-standard : .2s

.nav-transition-enabled
  @include vendor(transition, $transition-length-standard all ease-in-out 0s)

  &:hover
    @include vendor(transition, $transition-length-standard all ease-in-out 0s)

.nav-animate-hover
  @include vendor(transform, translateY(.5rem))
