.lab__space
  @extend .g
  min-height: 100vh
  flex-direction: column

  &.vertical
    flex-direction: row

    .lab__nav
      flex-direction: column
      position: fixed
      z-index: 2

  &.none
    .lab__nav
      display: none !important


.lab__whiteboard
  @extend .gc
  @extend .u--full
  @extend .is__background--dark
  flex-direction: column
  display: flex
  //align-items: center
  //justify-content: center