.lab__space
  @extend .g
  min-height: 100vh
  flex-direction: column

  &.vertical
    flex-direction: row

    .lab__nav
      flex-direction: column

.lab__nav
  @extend .is__background--darker
  flex: 0 1 20vh
  display: flex
  align-items: center
  justify-content: center
  padding: 0 3rem

.lab__whiteboard
  @extend .gc
  @extend .is__background--dark
  display: flex
  align-items: center
  justify-content: center