.nav__secondary.nav__secondary--adjective.hidden
  .nav__secondary--g
    %a.nav__secondary--list.block--adjective{:href => "/handy/adjective"}
    %a.nav__secondary--list.block--adjective{:href => "/handy/adjective"}
    %a.nav__secondary--list.block--adjective{:href => "/handy/adjective"}
    %a.nav__secondary--list.block--adjective{:href => "/handy/adjective"}
    %a.nav__secondary--list.block--adjective{:href => "/handy/adjective"}
    %a.nav__secondary--list.block--adjective{:href => "/handy/adjective"}
    %a.nav__secondary--list.block--adjective{:href => "/handy/adjective"}