.nav__secondary.nav__secondary--adverb.hidden
  .nav__secondary--g
    %a.nav__secondary--list.block--adverb{:href => "/handy/adverb"}
    %a.nav__secondary--list.block--adverb{:href => "/handy/adverb"}
    %a.nav__secondary--list.block--adverb{:href => "/handy/adverb"}
    %a.nav__secondary--list.block--adverb{:href => "/handy/adverb"}
    %a.nav__secondary--list.block--adverb{:href => "/handy/adverb"}
    %a.nav__secondary--list.block--adverb{:href => "/handy/adverb"}
    %a.nav__secondary--list.block--adverb{:href => "/handy/adverb"}