.nav__secondary.nav__secondary--article.hidden
  .nav__secondary--g
    %a.nav__secondary--list.block--article{:href => "/handy/article"}
    %a.nav__secondary--list.block--article{:href => "/handy/article"}
    %a.nav__secondary--list.block--article{:href => "/handy/article"}
    %a.nav__secondary--list.block--article{:href => "/handy/article"}
    %a.nav__secondary--list.block--article{:href => "/handy/article"}
    %a.nav__secondary--list.block--article{:href => "/handy/article"}
    %a.nav__secondary--list.block--article{:href => "/handy/article"}