.nav__sublist
  %ul
    %ul
      %li.icon-noun-name
        %a Names
      %li.icon-noun-thing
        %a{:href => ""} Things
      %li.icon-noun-place
        %a{:href => ""} Places
    %li.icon-noun-gerund
      %a Gerunds
    %li.icon-noun-to
      %a{:href => ""} Infinitive
    %li.icon-noun-place-plural
      %a{:href => ""} Place Plural
    %li.icon-noun-thing-plural
      %a Thing Plural
    %li.icon-noun-poss
      %a{:href => ""} Possessive