.nav__secondary.nav__secondary--noun.hidden
  .nav__secondary--g
    %a.nav__secondary--list.block--noun{:href => "/handy/noun"}
    %a.nav__secondary--list.block--noun{:href => "/handy/noun-categories"}
    %a.nav__secondary--list.block--noun{:href => "/handy/noun"}
    %a.nav__secondary--list.block--noun{:href => "/handy/noun-types"}
    %a.nav__secondary--list.block--noun{:href => "/handy/noun"}
    %a.nav__secondary--list.block--noun{:href => "/handy/noun"}
    %a.nav__secondary--list.block--noun{:href => "/handy/noun"}