.nav__secondary.nav__secondary--preposition.hidden
  .nav__secondary--g
    %a.nav__secondary--list.block--preposition{:href => "/handy/preposition"}
    %a.nav__secondary--list.block--preposition{:href => "/handy/preposition"}
    %a.nav__secondary--list.block--preposition{:href => "/handy/preposition"}
    %a.nav__secondary--list.block--preposition{:href => "/handy/preposition"}
    %a.nav__secondary--list.block--preposition{:href => "/handy/preposition"}
    %a.nav__secondary--list.block--preposition{:href => "/handy/preposition"}
    %a.nav__secondary--list.block--preposition{:href => "/handy/preposition"}