.nav__secondary.nav__secondary--pronoun.hidden
  .nav__secondary--g
    %a.nav__secondary--list.block--pronoun{:href => "/handy/pronoun"}
    %a.nav__secondary--list.block--pronoun{:href => "/handy/pronoun"}
    %a.nav__secondary--list.block--pronoun{:href => "/handy/pronoun"}
    %a.nav__secondary--list.block--pronoun{:href => "/handy/pronoun"}
    %a.nav__secondary--list.block--pronoun{:href => "/handy/pronoun"}
    %a.nav__secondary--list.block--pronoun{:href => "/handy/pronoun"}
    %a.nav__secondary--list.block--pronoun{:href => "/handy/pronoun"}