.nav__secondary.nav__secondary--verb.hidden
  .nav__secondary--g
    %a.nav__secondary--list.block--verb{:href => "/handy/verb"}
    %a.nav__secondary--list.block--verb{:href => "/handy/verb"}
    %a.nav__secondary--list.block--verb{:href => "/handy/verb"}
    %a.nav__secondary--list.block--verb{:href => "/handy/verb"}
    %a.nav__secondary--list.block--verb{:href => "/handy/verb"}
    %a.nav__secondary--list.block--verb{:href => "/handy/verb"}
    %a.nav__secondary--list.block--verb{:href => "/handy/verb"}