---
navlayout: vertical
---
.lab__whiteboard
  %form.sentence__editing.j-sentence{:action => "#"}
  %input.sentence__container.j-sentence__container{:type => "text", :value => "Type Your Sentence", "onblur" => "$.fn.swapSentenceConsole('sentence__editing')"}

