---
navlayout: vertical
---
.lab__whiteboard
  .gc.g.is__background--darker
    .gc.g.Aligner.g__column.u-laptopish-1of3.u-full
      %figure.lesson__symbol.block--noun
      %h1 Things
    .gc.g.Aligner.u-laptopish-2of3.u-full
      <iframe src="//player.vimeo.com/video/79093637?autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  .gc.test.g.g__column
    .gc.test
      %h1 I represent three categories and I like to be with others. I like to be with A at all times.
    .g
      .gc
        :markdown
          ##Examples

          dog

          table

          chair

          cup

          shirt

          pants

          girl

          boy

          bike
      .gc
        :markdown
          ## Must be with others

          A dog ran over the bridge.

          Cup is on the table.

          Boy is not happy.

          ## Article is always before noun

          A cat licked his paws.

          Shirt the is red.

          I found bike a.

  = partial "layouts/footer/lesson-nav"