---
navlayout: vertical none
---
.lab__whiteboard
  .gc.g.is__background--darker
    .gc.g.Aligner.g__column.u-laptopish-1of3.u-full
      %figure.lesson__symbol.block--noun
      %h1 Names
    .gc.g.Aligner.u-laptopish-2of3.u-full
      -#
        <iframe src="//player.vimeo.com/video/79088072?autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  .gc
    .test.g
      .gc
        :markdown
          ##Examples

          Kayla

          John

          Maya

          Kieran

          Sarah

          Eugene
      .gc
        :markdown
          ##Grammar
            Seth went to the store.

            The Jimmy met him yesterday.

            Two Judy met us yesterday.

  = partial "layouts/footer/lesson-nav"