---
layout: lab
---
%section.section__splash.Aligner
  .splash__box
    %figure.block--article.animated__appear-dissolve
    %figure.block--adjective.animated__appear-dissolve.is__delayed--1
    %figure.block--noun.animated__appear-dissolve.is__delayed--2
    %figure.block--pronoun.animated__appear-dissolve.is__delayed--3
    %figure.block--verb.animated__appear-dissolve.is__delayed--4
    %figure.block--adverb.animated__appear-dissolve.is__delayed--5
    %figure.block--preposition.animated__appear-dissolve.is__delayed--6


