---
layout: lab
---
%section.section__splash.Aligner
  .splash__box.animated__appear
    .figure.block--article
    .figure.block--adjective
    .figure.block--noun
    .figure.block--verb
    .figure.block--adverb
    .figure.block--preposition
    .figure.block--pronoun

